<div class="text-center m-4">
    <h3>We're going to have an exiting party!'</h3>
    <h4>And you are invited</h4>
    <a class="btn btn-primary" asp-action="Respond">RSVP Now</a>
</div>
<div class="bg-secondary p-2 text-white text-center bg-light">
    <a asp-action="ListResponses">List responses</a>
</div>